* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    text-align: center;
    background-color: #6d747d;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    background-color: #1F2937;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
}

.header-logo,
.hero-main,
.hero-secondary,
.section-1 a {
    color: #F9FAF8;
}

.section-1,
.section-2,
.section-3,
.section-4,
footer {
    padding-left: 13vw;
    padding-right: 13vw;
}

.section-1 .header {
    display: flex;
    justify-content: space-between;
}

.section-1 .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.section-1 .container {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.section-1 .container * {
    flex-basis: 50%;  
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hero-text .hero-main {
    font-size: 28px;
    font-weight: 800;
}

.hero-text .hero-secondary {
    font-size: 12px;
    color: #E5E7EB;
}

.hero-text [type="button"] {
    background-color: #3b82f6;
    border: 1px #3b82f6 solid;
    border-radius: 4px;
    color: #F9FAF8;
    font-weight: 600;
    padding: 2px 16px;
}

.section-2 {
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.section-2 .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5vh;
    text-align: center;
}

.random-info-list {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.random-info-list li {
    flex-basis: 15vw;
    display: flex;
    flex-direction: column;
}

.random-info-list p {
    font-size: 10px;
    text-align: center;
}

.random-info-list img {
    border: 1px #3b82f6 solid;
    border-radius: 1vw;
    background-color: inherit;
    min-width: 15px;
    min-height: 15px;
}

.section-3 {
    background-color: #E5E7EB;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.quote {
    color: #1F2937;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    padding: 0 3vw;
}

.author {
    color: #1F2937;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
}

.section-4 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-4 .container {
    border-radius: 1vw;
    background-color: #3882f6;
    padding: 3vh 5vw;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.section-4 .container p {
    color: #E5E7EB;
}

.section-4 .container .header {
    font-weight: 700;
}

.section-4 .container [type="button"] {
    align-self: center;
    background-color: inherit;
    border: 2px solid #E5E7EB;
    border-radius: 1vw;
    color: #E5E7EB;
    font-size: 14px;
    padding: 3px 6px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 3vh;
}